apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-payment
  namespace: ebanking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-payment
  template:
    metadata:
      labels:
        app: postgres-payment
    spec:
      containers:
      - name: postgres-payment
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: "ebanking_payment"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "postgres123"
        ports:
        - containerPort: 5432
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-payment
  namespace: ebanking
spec:
  selector:
    app: postgres-payment
  ports:
  - port: 5432
    targetPort: 5432