apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: ebanking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:22.0.1
        command: ["/opt/keycloak/bin/kc.sh", "start-dev"]
        env:
        - name: KC_DB
          value: "postgres"
        - name: KC_DB_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: postgres.keycloak.url
        - name: KC_DB_USERNAME
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: postgres.keycloak.username
        - name: KC_DB_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: postgres.keycloak.password
        - name: KC_HTTP_ENABLED
          value: "true"
        - name: KEYCLOAK_ADMIN
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: keycloak.admin.username
        - name: KEYCLOAK_ADMIN_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: keycloak.admin.password
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        readinessProbe:
          httpGet:
            path: /realms/master
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: ebanking
spec:
  selector:
    app: keycloak
  ports:
  - port: 8080
    targetPort: 8080
  type: ClusterIP