apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: ebanking
data:
  # Kafka
  kafka.bootstrap.servers: "kafka:9092"
  
  # Databases
  postgres.host: "postgres"
  postgres.port: "5432"
  postgres.database: "ebanking"
  
  redis.host: "redis"
  redis.port: "6379"
  
  # Services
  keycloak.url: "http://keycloak:8080"