apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: ebanking #Le ConfigMap est isolé dans le namespace ebanking.Seules les ressources de ce namespace peuvent l’utiliser.
data:   #Tout ce qui est ici correspond à des variables de configuration injectées dans les pods (via variables d’environnement ou fichiers
  # ================ DATABASES ================
  postgres.host: "postgres" #nom du service Kubernetes PostgreSQL
  postgres.port: "5432"
  postgres.database: "account_db"
  
  redis.host: "redis"
  redis.port: "6379"
  
  # ================ MESSAGING ================
  kafka.bootstrap.servers: "kafka:9092"
  
  # Topics Kafka (spécifiques à account-service)
  kafka.topics.payment.completed: "payment.completed"
  kafka.topics.payment.reversed: "payment.reversed"
  kafka.topics.fraud.detected: "fraud.detected"
  kafka.topics.account.created: "account.created"
  kafka.topics.account.updated: "account.updated"
  kafka.topics.account.balance.changed: "account.balance.changed"
  kafka.topics.account.suspended: "account.suspended"
  kafka.topics.account.closed: "account.closed"
  
  # ================ SERVICES URLs ================
  account.service.port: "8082"
  
  # ================ APPLICATION SETTINGS ================
  app.default.currency: "EUR"
  
  # ================ ENVIRONMENT ================
  app.environment: "development"